.header{
    background-color: var(--color1);
    padding: 10px 18px ;
    font-family: var(--tipografia);
    color: var(--color4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.hogar{
    margin: 0;
    font-size: 16px;
    font-weight: 200;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
}